@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <main class="primary-content"></main>
</div>
<div class="sub-contentCulumn">
        <div class="sub-contentCulumn__inner id=100-00001"> <!--idは仮置き-->
            <div class="image-block">
                <img alt="Hot coffee" class="block" src="/image/top_coffee.png" >
            </div>
            <div class="text-block">
                <h2 class="sb-heading">
                    <span class="rich-text">Hot Coffee</span>
                </h2>
                <h3>
                    <p>xxxxxxxxxxxxxxxxxxxxx<br />
                        xxxxxxxxxxxxxxxxxxxxxx<br />
                        xxxxxxxxxxxxxxxxxxxxxxx</p>
                </h3>
            <button type="button" class="sub-button order-button">Order now</button>
            </div>
        </div>

        <div class="sub-contentCulumn__inner id=100-00002"> <!--idは仮置き-->
            <div class="image-block">
                <img alt="Hot coffee" class="block" src="/image/blueberry muffin.png">
            </div>
            <div class="text-block">
                <h2 class="sb-heading">
                    <span class="rich-text">Sweets</span>
                </h2>
                <h3>
                    <p>
                        xxxxxxxxxxxxxxxxxxxxx<br />
                        xxxxxxxxxxxxxxxxxxxxxx<br />
                        xxxxxxxxxxxxxxxxxxxxxxx
                    </p>
                </h3>
            <button type="button" class="sub-button order-button">Order now</button>
            </div>
        </div>
        <div class="sub-contentCulumn__inner id=100-00003"><!--idは仮置き-->
            <div class="image-block">
                <img alt="Hot coffee" class="block" src="/image/top_gift04.jpg">
            </div>
            <div class="text-block">
                <h2 class="sb-heading">
                    <span class="rich-text">Online Store</span>
                </h2>
                <h3>
                    <p>
                        xxxxxxxxxxxxxxxxxxxxx<br />
                        xxxxxxxxxxxxxxxxxxxxxx<br />
                        xxxxxxxxxxxxxxxxxxxxxxx
                    </p>
                </h3>
            <button type="button" class="sub-button order-button">Order now</button>
            </div>
        </div>
</div>


